# Default ignored files
/../../CollegeROI /.idea/shelf/
/../../CollegeROI /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../CollegeROI /.idea/httpRequests/
# Datasource local storage ignored files
/../../CollegeROI /.idea/dataSources/
/../../CollegeROI /.idea/dataSources.local.xml
